.toggle-menu {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  z-index: 1000;
}

.toggle-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: black;
  width: 20px;
  left: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-menu i:nth-child(1) {
  top: 2px;
}

.toggle-menu i:nth-child(2) {
  top: 10px;
}

.toggle-menu i:nth-child(3) {
  top: 18px;
}

.toggle-menu.active i:nth-child(1) {
  top: 10px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.toggle-menu.active i:nth-child(2) {
  background: transparent;
}

.toggle-menu.active i:nth-child(3) {
  top: 10px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.column{
  float:left;
  width:35%;
  max-width:800px;
}

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.innercolumn {
  flex: 100%;
  padding: 5px;
  border:0.5px solid black;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.innercolumn2 {
  flex: 45%;
}

.innercolumn3 {
  flex: 33%;
  text-align:right;
  padding-right: 10px;
}

.innercolumn4 {
  flex: 24%;
  padding: 10px;
}

.text-pericias{
  float:right;
  margin-right: 100px;
  width:120px;
}

@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .text-pericias{
    float:right;
    margin-right: 0px;
  }
  body{
    font-size:small;
  }
  .stats{
    margin:0px;
  }
}

.stats{
  margin:3px;
}

.column2{
  float:left;
  width:60%;
  background-color: #f2f2f2;
  padding: 10px;
}

.column3{
  float:left;
  width:50%;
  background-color: #f2f2f2;
  padding: 10px;
}

.container {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 570px;
}

body{
  font-family:arial;
  font-size:small;
}

.hidden{
  display: none;
}

.minor{
  color: #595959;
}

.content{
  font-family:arial;
  margin-left: 30px;
}

.des{
  font-weight: bold;
}

.des-ctrl{
  font-weight: bold;
  color: purple;
}

.des-bless{
  font-weight: bold;
  color: darkblue;
}

.des-dmg{
  font-weight: bold;
  color: darkred;
}

.escola{
  color: #5b5b5b;
}

.cabeca{
  max-width: 700px;
  width:100%;
}

.menu-drawer {
  font-family: serif;
  background-color: #f2f2f2;
  top: 0;
  transition: up linear .2s;
  padding: 5px;
  display: none;
}

.open {
  transition: up linear .2s;
  display: block;
}

.menu-drawer ul {
  list-style-type:none;
}

.menu-drawer {
  li {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #0094FC;
      }
    }
  }
}

.smallinput{
  width: 25px;
}
